{
  "customSyntax": "postcss-html",
  "extends": ["stylelint-config-standard", "stylelint-config-recommended-vue", "stylelint-config-prettier"],
  "rules": {
    "color-function-notation": "legacy",
    "selector-class-pattern": null
  }
}
