.flex {
  display: flex;
}

.items-center {
  align-items: center;
}
.items-end {
  align-items: end;
}

.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: end;
}

.justify-start {
  justify-content: start;
}

.justify-between {
  justify-content: space-between;
}

.flex-col {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.flex-1 {
  flex: 1;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
