@font-face {
  font-family: 'Poppins';
  src: url('../../fonts/OpenSans/OpenSans-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../../fonts/OpenSans/OpenSans-Medium.ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../../fonts/OpenSans/OpenSans-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../../fonts/OpenSans/OpenSans-Bold.ttf');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
