// Generic
@import 'variables';
body {
  font-family: $font;
  font-size: 14px;
  color: var(--white);
  line-height: 1.6;
  background: var(--black);
  scroll-margin: 100px 0 0 0;
  word-break: break-word;
}

.cursor-pointer {
  cursor: pointer;
}

.user-select-none {
  user-select: none;
}

.overflow-y-auto {
  overflow-y: auto;
}

.pointer-events-none {
  pointer-events: none;
}
.opacity-0 {
  opacity: 0;
}

a {
  color: inherit;
}

.round {
  border-radius: 100%;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*Height && width */
.vh-100 {
  min-height: 100vh;
}
.vh-fit {
  min-height: calc(100vh - calc(var(--navbar-height) + var(--bottom-nav-height)));
}
.h-full {
  height: 100%;
}
.w-full {
  width: 100%;
}

.fit-content {
  width: fit-content;
}

/* Pseudo-classes */
::selection {
  background: var(--selection);
  color: var(--grey-100);
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--grey-700);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--grey-700);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--grey-700);
}
