.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.sticky {
  position: sticky;
}

.inherit {
  position: inherit;
}

$max: 10;

/*top, left, right, bottom*/
@for $i from 0 through $max {
  .bottom-#{$i} {
    bottom: $i * 1px;
  }
  .top-#{$i} {
    top: $i * 1px;
  }
  .right-#{$i} {
    right: $i * 1px;
  }
  .left-#{$i} {
    left: $i * 1px;
  }
}
