@import 'variables';

.text-2xl {
  font-size: 54px;
}

.text-xl {
  font-size: 24px;
}

.text-lg {
  font-size: 16px;
}

.text-md {
  font-size: 1em;
}

.text-sm {
  font-size: 12px;
}

.text-xs {
  font-size: 10px;
}

/* mixin for multiline */
.block-with-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/*Thickness*/
.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

/* Color */
@each $key, $value in $variants {
  .text-#{ '' + $key} {
    color: $value;
  }
}

/*Text alignement*/
.text-center {
  text-align: center;
}
