/*FONTS*/
$font: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
/*COLORS*/
$primary: #e95428;
$primary-light: #ff7f4f;
$primary-dark: #d13900;
$blue: #2e6bbf;
$blue-dark: #235599;
$red: #ff4a4a;
$red-light: #f07070;
$black: #0a0a0a;
$black-65: rgba(10, 10, 10, 65%);
$grey-100: #121212;
$grey-200: #1e1e1e;
$grey-300: #252423;
$grey-400: #242424;
$grey-400-70: rgba(0, 0, 14, 70%);
$grey-500: #2e2e2f;
$grey-600: #3a3a3b;
$grey-700: #898d8f;
$grey-800: #d4d6d8;
$white: #fefefe;

:root {
  --radius: 6px;
  --linear: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(33, 39, 48, 0.8) 100%);
  --navbar-height: 54px;
  --bottom-nav-height: 48px;
  --primary: #{$primary};
  --primary-light: #{$primary-light};
  --primary-dark: #{$primary-dark};
  --blue: #{$blue};
  --blue-dark: #{$blue-dark};
  --red: #{$red};
  --red-light: #{$red-light};
  --black: #{$black};
  --black-65: #{$black-65};
  --grey-100: #{$grey-100};
  --grey-200: #{$grey-200};
  --grey-300: #{$grey-300};
  --grey-400: #{$grey-400};
  --grey-400-70: #{$grey-400-70};
  --grey-500: #{$grey-500};
  --grey-600: #{$grey-600};
  --grey-700: #{$grey-700};
  --grey-800: #{$grey-800};
  --white: #{$white};
  --radio-width: 14px;
  --radio-color: #{$white};
  --selection: #ff7f4fff;
}

$variants: (
  primary: $primary,
  white: $white,
  blue: $blue,
  red: $red,
  black: $black,
  grey-100: $grey-100,
  grey-200: $grey-200,
  grey-400: $grey-400,
  grey-500: $grey-500,
  grey-600: $grey-600,
  grey-700: $grey-700,
  grey-800: $grey-800,
);
